.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin:auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

// .title {
//   color: grey;
//   font-size: 18px;
// }

// a {
//   text-decoration: none;
//   font-size: 22px;
//   color: black;
// }

.profile-container {
  max-width: 500px;
  margin: 20px auto;
  padding: 30px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: left;
}