.container {
  position: relative;
  max-width: 700px;
  width: 100%;
  background: #fff;
  padding: 20px 50px;
  border-radius: 8px;
}

h3 {
  font-size:30px;
  color: lightslategrey;
  font-weight: 500;
  text-align: center;
}

.container .form {
  margin-top: 20px;
}

.form .input-box {
  margin-top: 10px;
}

.form-control {
  border-radius: 0;
  color: lightsl;
  padding: 10px;
}

.form-group {
  margin-bottom: 10px;
}

.form-select{
  padding: 10px;
}



.form .gender-box {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 0px;
  
}

.address-name{
  font-weight: bold;
}

.gender-box label {
  color: #333;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 10px;
}

.gender-box h6 {
  font-weight: bold;
}


.form .submit-btn {
  height: 55px;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 30px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  background: #E7005E;
  margin: 30px auto;
  display: block;
}

.margin-left {
  margin-left: 10px;
}

.bin {
  margin-top: 30px;
  margin-left: 10px;
}

.skill {
  display: flex;
  flex-direction: column !important;
}

input[type="date"] {
  position: relative;
}

input[type="date"]:after {
  color: #555;
  padding: 0 5px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  color: transparent;
  background: transparent;
}

input[type="date"]::-webkit-inner-spin-button {
  z-index: 1;
}

input[type="date"]::-webkit-clear-button {
  z-index: 1;
}

.form-select {
  border-radius: 0;
}

.cal-position {
  margin-left: 38%;
  position: absolute;
  margin-top: -25px;
}

label {
  font-weight: bold;
  margin-bottom: 10px;
}

.form-check {
  margin-bottom: 10px;
  padding-bottom: 10px;
}
//To make Border of i/p box red if it is invalid
input.ng-invalid.ng-touched {
  border: red 1px solid;
}

select.ng-invalid.ng-touched {
  border: 1px solid red;
}