//To make Border of i/p box red if it is invalid
input.ng-invalid.ng-touched {
  border: red 1px solid;
}

select.ng-invalid.ng-touched {
  border: 1px solid red;
}

label {
  font-weight: bold;
  margin-bottom: 10px;
}

.bin {
  margin-top: 30px;
  margin-left: 10px;
}

.skill {
  display: flex;
  flex-direction: column !important;
}

