<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">User Details</h5>
        <button type="button" class="close"  (click)="closeCustomerForm()" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="formData">
        <div class="modal-body" style="padding: 20px;">
          <div class="form-group mb-3">
            <label for="firstname"><span class="text-danger">*</span>First Name</label>
            <input type="text" class="form-control" id="firstname" placeholder="First Name" formControlName="f_name">
            <app-validation [control]="formData.get('f_name')" [key]=" 'First Name'"></app-validation>
          </div>
          <div class="form-group mb-3">
            <label for="lastname"><span class="text-danger">*</span>Last Name</label>
            <input type="text" class="form-control" id="lastname" placeholder="Last Name" formControlName="l_name">
            <app-validation [control]="formData.get('l_name')" [key]=" 'Last Name'"></app-validation>
          </div>
          <div class="form-group mb-3">
            <label for="email"><span class="text-danger">*</span>Email</label>
            <input type="text" class="form-control" id="email" placeholder="Email" formControlName="email">
            <app-validation [control]="formData.get('email')" [key]=" 'Email'"></app-validation>
          </div>
          <div class="form-group mb-3">
            <label for="phone"><span class="text-danger">*</span>Phone Number</label>
            <input type="text" class="form-control" id="phone" placeholder="Phone Number" formControlName="phone_number"
              mask='(000)000-0000'>
            <app-validation [control]="formData.get('phone_number')" [key]=" 'Phone Number'"></app-validation>
          </div>
          <div class="form-group mb-3">
            <label for="plan"><span class="text-danger">*</span>Plan</label>
            <input type="text" class="form-control" id="plan" placeholder="Plan" formControlName="gender">
            <app-validation [control]="formData.get('gender')" [key]=" 'Plan'"></app-validation>
          </div>
          <div class="form-group mb-3">
            <label for="dob"><span class="text-danger">*</span>DOB</label>
            <input type="date" class="form-control" id="dob" formControlName="dob" max="{{ formattedDate }}">
            <app-validation [control]="formData.get('dob')" [key]=" 'DOB'"></app-validation>
          </div>
          <div formArrayName="Skills">
            <div class="row mt-5">
              <div class="col form-inline">
                <label for="Address" class="form-label heading"><span class="text-danger">*</span>Add Skill
                  <button type="button" (click)="addSkill()" class="btn btn-sm btn-primary">Add New
                    Skill</button>
                </label>
              </div>
            </div>
            <div class="row mt-1">
              <div class="" *ngFor="let skill of skills.controls; let i=index">
                <div class="d-flex">
                  <input type="text" class="form-control mt-3" placeholder="Skill" [formControlName]="i">
                  <ng-container *ngIf="skills.controls.length>1">
                    <i class="fa fa-trash bin " aria-hidden="true" (click)="deleteSkill(i)"
                      [attr.disabled]="skills.controls.length <= 1 ? true : null"
                      [style.cursor]="skills.controls.length <= 1 ? 'not-allowed' : 'pointer'"></i>
                  </ng-container>
                </div>
                <div class="skill" *ngIf="skills.controls[i].invalid && skills.controls[i].touched">
                  <small class="text-danger">Skill is Required</small>
                </div>
              </div>
            </div>
          </div>
          <!--Button-->
            <button type="button" class="btn btn-success mt-3 mb-3 submit" data-bs-dismiss="modal" (click)="submitForm()"
              [attr.data-bs-dismiss]="formData.valid ? 'modal' : null">{{editClick? 'Update':'Add
              Customer'}}</button>
        </div>
      </form>
    </div>
  </div>
</div>