/* Table styles */
.table-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

table {
  width: 80%;
  font-size: 14px;
  margin-top: 10px;
}

td {
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

/* Select box style */
.select-box {
  width: 250px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
  margin: 5px 0;
  box-sizing: border-box;
  font-size: 14px;
}

/* Hover effect */
.select-box:hover {
  border-color: #555;
}

/* Focus effect */
.select-box:focus {
  outline: none;
  border-color: black;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

//ngclass
.white-row {
  background-color: #ffffff;
}

.black-row {
  background-color: #000000;
  color: #ffffff;
}

.highlight {
  background-color: #4caf50;
}

//Header style
.student-header {
  margin: 0px 20px;
  padding: 20px 50px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.student-header-filter {
  margin: 20px 200px;
}

.student-header-title {
  margin: 0px 20px;
  font-size: 50px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
