<!-- Heading -->
<h2>List of Customers</h2>
<!-- Table -->
<table>
  <thead>
    <tr>
      <th>No</th>
      <th>Name</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Country</th>
      <th>Edit</th>
    </tr>
  </thead>
  <!-- dynamically generating table rows based on the data in the customers array. -->
  <tbody>
    <tr *ngFor="let people of customers; let i=index;">
      <td>{{i+1}}</td>
      <td>{{people.name}}</td>
      <td>{{people.address}}</td>
      <td>{{people.city}}</td>
      <td>{{people.state}}</td>
      <td>{{people.country}}</td>
      <td><button type="button" (click)="onEdit(people)">Edit</button></td>
    </tr>
  </tbody>
</table>
<!-- used to pass data from the parent component to its child component. -->
<!-- 'updateCustomer' is an output event binding -->
<app-child [selectedCustomer]="selectedCustomer" (updateCustomer)="updateCustomerInParent($event)"></app-child>