<!-- <div>
  <h2>All Data</h2>
  <ul>
    <li *ngFor="let data of allData">
      <a [routerLink]="['/data', data.id]">{{ data.name }}</a>
    </li>
  </ul>
</div>

<div *ngIf="selectedData">
  <h2>Selected Data</h2>
  <pre>{{ selectedData | json }}</pre>
</div> -->

<!-- <div>
  <h2>All Data</h2>
  <ul>
    <li *ngFor="let data of allData">
      <a [routerLink]="['/customer-service', data.id]">{{ data.First_name }} {{ data.Last_name }}</a>
    </li>
  </ul>
</div> -->

<div class="table-container">
  <h2>All Data</h2>
  <table border="1">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Phone Number</th>
        <th>Plan</th>
        <th>Skill</th>
        <th>Email</th>
        <th>DOB</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of allData">
        <td>{{ data.First_name }}</td>
        <td>{{ data.Last_name }}</td>
        <td>{{ data.Ph_num }}</td>
        <td>{{ data.Gender }}</td>
        <td>{{ data.skill }}</td>
        <td>{{ data.Email }}</td>
        <!-- <td>{{ data.DOB }}</td> -->
        <!-- Other table cells... -->
        <td>{{ data.DOB | validDate }}</td>
        <!-- <app-edit-form></app-edit-form> -->
        <button type="button"  class="btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
          <i class="fa fa-edit" ></i>
        </button><i class="fa fa-trash custom" aria-hidden="true"></i>
        <td><app-edit-form></app-edit-form></td>


        
          
          
        
<!-- Other table cells... -->







      </tr>
    </tbody>
  </table>
</div>



