<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="card">
  <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt="John"
    style="width:100%">
  <div class="profile-container">
    <p><strong>First Name:</strong> {{customerData?.f_name}}</p>
    <p><strong>Last Name:</strong> {{customerData?.l_name}}</p>
    <p><strong>Plan:</strong> {{customerData?.gender}} </p>
    <p><strong>Skills:</strong> {{customerData?.Skills}}</p>
    <p><strong>Phone Number:</strong> {{customerData?.phone_number}}</p>
    <p><strong>Email:</strong> {{customerData?.email}}</p>
    <p><strong>Date of Birth (DOB):</strong> {{customerData?.dob}}</p>
  </div>
</div>