<div class="card">
  <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt="John"
    style="width:100%">
  <div class="profile-container">
    <p><strong>First Name:</strong> {{customerDetail?.default_contact?.first_name}}</p>
    <p><strong>Last Name:</strong> {{customerDetail?.default_contact?.last_name}}</p>
    <p><strong>Email:</strong> {{customerDetail?.default_contact?.email}} </p>
    <p><strong>Company Name:</strong> {{customerDetail?.default_billing?.company_name}}</p>
    <p><strong>Credit Name:</strong> {{customerDetail?.credit_term?.name}}</p>
    <p><strong>Store Name:</strong> {{customerDetail?.store?.name}}</p>
    <p><strong>Id:</strong> {{customerDetail?.id}}</p>
  </div>
</div>