<div class="card">
  <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt="John"
    style="width:100%">
  <div class="profile-container">
    <p><strong>First Name:</strong> {{customerDetail?.f_name}}</p>
    <p><strong>Last Name:</strong> {{customerDetail?.l_name}}</p>
    <p><strong>Plan:</strong> {{customerDetail?.gender}} </p>
    <p><strong>Skills:</strong> {{customerDetail?.Skills}}</p>
    <p><strong>Phone Number:</strong> {{customerDetail?.phone_number}}</p>
    <p><strong>Email:</strong> {{customerDetail?.email}}</p>
    <p><strong>Date of Birth (DOB):</strong> {{customerDetail?.dob}}</p>
  </div>
</div>