<div class="page-header">
  <!--HOME HEADER-->
  <div class="page-header-logo">
    <h2>Admin Header</h2>
  </div>
  <div>
    <div class="page-header-secondary">
      
    </div>      
    <div class="page-header-primary">
      <div class="page-header-primary-nav">
          <a routerLink="home" routerLinkActive="active">HOME</a>
          <a routerLink="about" routerLinkActive="active">ABOUT</a>
          <a routerLink="contact" routerLinkActive="active" >CONTACT</a>
          <a routerLink="services" routerLinkActive="active">SERVICES</a>
      </div>
      <div class="page-header-login-logout">
          <button routerLink="/login" (click)="logout()">LOGOUT</button>
      </div>
    </div>
    
  </div>
</div>

