<div class="table-container">
  <h2>Customer Details</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Phone Number</th>
        <th>Plan</th>
        <th>Skill</th>
        <th>Email</th>
        <th>DOB</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="customers?.results.length!==0; else noData">
        <tr *ngFor="let data of customers?.results" (click)="onClickNavigate(data.id)" style="cursor: pointer;">
          <td>{{ data?.default_contact?.first_name }}</td>
          <td>{{ data?.default_contact?.last_name }}</td>
          <td>{{ data?.default_contact?.email }}</td>
          <td>{{ data?.default_contact?.phone }}</td>
          <td>{{ data?.address?.country }}</td>
          <td>{{ data?.address?.state}}</td>
          <td>{{ data?.id}}</td>
          <a type="button" class="btn">
            <i class="fa fa-edit"></i>
          </a>
        </tr>
      </ng-container>
      <ng-template #noData>
        <h1>No Data!</h1>
      </ng-template>
    </tbody>
  </table>
</div>