<div class="table-container">
  <h2>Customer Details</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>FIRST NAME</th>
        <th>LAST NAME</th>
        <th>EMAIL</th>
        <th>COMPANY NAME</th>
        <th>CREDIT NAME</th>
        <th>STORE NAME</th>
        <th>ACTIONS</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="customers?.results.length!==0; else noData">
        <tr *ngFor="let data of customers?.results" (click)="onClickNavigate(data.id)" style="cursor: pointer;">
          <td>{{ data?.id}}</td>
          <td>{{ data?.default_contact?.first_name }}</td>
          <td>{{ data?.default_contact?.last_name }}</td>
          <td>{{ data?.default_contact?.email }}</td>
          <td>{{ data?.default_billing?.company_name }}</td>
          <td>{{ data?.credit_term?.name}}</td>
          <td>{{ data?.store?.name}}</td>
          <a type="button" class="btn">
            <i class="fa fa-edit"></i>
          </a>
        </tr>
      </ng-container>
      <ng-template #noData>
        <h1>No Data!</h1>
      </ng-template>
    </tbody>
  </table>
</div>